// @import '../node_modules/bulma/bulma';
@import 'bulma/bulma';
// @import '~bulma-extensions/dist/css/bulma-extensions.sass';

body {
  // margin: 0;
  // padding: 0;
  padding-left: 5em !important;
  padding-right: 5em !important;
  font-family: sans-serif;
}

h2 {
  font-size: 1.5em;
}